mixin contact(param)
  .contact
    h2= param

mixin generarMenu(param)
  .generarMenu
    .d-flex.barra-menu
      - each option in param
        if(option.active == 1)
          a.btn.btn-light.m-2.active(href= option.href, role='button', aria-pressed='true') #{option.option}
        else
          a.btn.btn-light.m-2(href= option.href, role='button', aria-pressed='true') #{option.option}

mixin generarModal(mensaje, opcion)
  .generarModal
    #modalMensaje.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
      .modal-dialog.modal-dialog-centered(role='document')
        .modal-content
          .modal-header.bg-primary.paddin-05
            h5#exampleModalLabel.modal-title.text-white Alerta
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span.text-white(aria-hidden='true') ×
          .modal-body.text-center.paddin-05
            if(opcion == 1)
              h5 #{mensaje}
            else
              if(mensaje.solicitante)
                a.btn.btn-light.m-2(href= "./solicitudes/principalSolicitante", role='button', aria-pressed='true') Solicitante
              if(mensaje.personalIRE)
                a.btn.btn-light.m-2(href= "/principalPersonalIre", role='button', aria-pressed='true') personalIRE
              if(mensaje.personalAdm)
                a.btn.btn-light.m-2(href= "/principalPersonalAdmre", role='button', aria-pressed='true') personalAdm
              if(mensaje.superAdmin)
                a.btn.btn-light.m-2(href= "/principalSuperAdm", role='button', aria-pressed='true') superAdmin                              
          .modal-footer.paddin-05
            button.btn.btn-primary(type='button', data-dismiss='modal') Cerrar
            
mixin generarInfoPersonal(tipoUsuario, nombre, apellido, cedula)
  .generarInfoPersonal
    .d-flex.flex-column.align-items-center
      i.fas.fa-user.d-block.p-2(style='font-size:100px;')
      h5.p-2 #{tipoUsuario}
    .d-flex.flex-column.align-items-start
      span.p-2 #{nombre}
      span.p-2 #{apellido}
      span.p-2 #{cedula}
      a(href="/cerrarSesion")
        span.p-2 Cerrar session
      a(href="/datosPersonales")
        span.p-2 Datos Personales
      a(href="/cambiarContrasena")
        span.p-2 Cambiar contrasena
